<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

    <div class="container">

        <a class="navbar-brand fw-bold"
           href="{% url 'home' %}">

            🎵 Disquera

        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a class="nav-link"
                       href="{% url 'home' %}">

                        Inicio

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="{% url 'cart' %}">

                        🛒 Carrito

                    </a>

                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{% url 'my_orders' %}">

                            Pedidos

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{% url 'logout' %}">

                            Salir

                        </a>

                    </li>

                {% else %}

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{% url 'login' %}">

                            Login

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{% url 'register' %}">

                            Registro

                        </a>

                    </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>
<form class="d-flex gap-2" method="GET" action="{% url 'search' %}">

    <input
        class="form-control"
        type="search"
        name="q"
        placeholder="Buscar..."
    >

    <select class="form-select" name="type">

        <option value="album">
            Álbum
        </option>

        <option value="artist">
            Artista
        </option>

    </select>

    <button class="btn btn-outline-light">
        Buscar
    </button>

</form>